@model IEnumerable<Auction2.Models.CarModel>

@{
    ViewBag.Title = "Index";
}

<div>
    <br />
    @if (Session["Nama"] != null)
    {
        <text>
            Welcome :  @Session["Nama"].ToString()
        </text>
    }
</div>

<h2>Daftar Lelang Mobil  </h2>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Id)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.MerkName)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.MasaBerlaku)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Tahun)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.NoPolisi)</th>
            <th>@Html.DisplayNameFor(modelItem => modelItem.Harga)</th>
            <th>Keterangan</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.MerkName)</td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.MasaBerlaku)*@
                    <span class="hidden-xs">@item.MasaBerlaku.ToString("dd/MM/yyyy")</span>
                    <span class="hidden-sm hidden-md hidden-lg">@item.MasaBerlaku.ToString("dd/MM/yyyy")</span>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Tahun)</td>
                <td>@Html.DisplayFor(modelItem => item.NoPolisi)</td>
                <td>Rp @Html.DisplayFor(modelItem => item.Harga)</td>
                <td>
                    @Html.ActionLink("Add Bid", "AddBid", new { id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create New Item Lelang", "Create")
@*@Html.ActionLink("About", "About", "Home")*@
