@model Auction2.Models.LoginUser
@{
    ViewBag.Title = "Contact";
}


@using (Html.BeginForm())
{
    <br />
    <br />
    <br />
    <div class="row">
        <div class="list-group col-lg-6 col-md-6">
            <a href="@Url.Action("About", "Home")" class="list-group-item active">Edit Profil</a>
            <a href="@Url.Action("ForBidUser", "Home", new { nama = @Session["Nama"].ToString() })" class="list-group-item">Daftar List Bid</a>
            <a href="#" class="list-group-item active">Setting Data User</a>
        </div>
        <div class="list-group col-lg-6 col-md-6">
        </div>
    </div>

    @*@Html.ActionLink("Daftar List Bid", "ForBidUser", new { nama = @Session["Nama"].ToString() })*@
    <br />
    @Html.ActionLink("Back To List Bid", "Index", "Car")
    @*@Html.TextBox("SearchString")*@
}


@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@