@model Auction2.Models.LoginUser
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

@using (Html.BeginForm())
{
    <br />
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Nama)</td>
                <td>@Html.TextBoxFor(a => a.Nama)</td>
                <td>@Html.ValidationMessageFor(a => a.Nama)</td>
            </tr>
            <tr>
                <td><br /></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.Pswd) </td>
                <td>@Html.PasswordFor(a => a.Pswd)</td>
                <td>@Html.ValidationMessageFor(a => a.Pswd)</td>
            </tr>
            <tr>
                <td><br /></td>
            </tr>
        </table>
    </fieldset>

        <div class="row">
            <div class="col-md-12">
                <div class="pad-top">
                    <button type="submit" style="height:38px; width:100px" class="btn btn-success btn-lg margin-right " value="Create">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    <a href="" class="btn btn-warning btn-lg" style="height:38px">
                        <span class="glyphicon glyphicon-remove"></span> Cencel
                    </a>
                </div>
            </div>
        </div>
        @Html.ActionLink("Create New Member", "Register")
}
