@model Auction2.Models.LoginUserModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.IdKTP, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.IdKTP, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Nama, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Nama, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Alamat, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Alamat, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Pekerjaan, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Pekerjaan, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success btn-md margin-right " value="Create">
                <span class="glyphicon glyphicon-save"></span> Create
            </button>
        </div>
    </div>
}

